<mat-card class="endereco-card">
    <mat-card-header>
      <mat-card-title>Informações de Endereço</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>CEP:</strong> {{ cepPesquisado.cep }}</p>
      <p><strong>Logradouro:</strong> {{ cepPesquisado.logradouro }}</p>
      <p><strong>Complemento:</strong> {{ cepPesquisado.complemento }}</p>
      <p><strong>Bairro:</strong> {{ cepPesquisado.bairro }}</p>
      <p><strong>Localidade:</strong> {{ cepPesquisado.localidade }}</p>
      <p><strong>UF:</strong> {{ cepPesquisado.uf }}</p>
      <p><strong>IBGE:</strong> {{ cepPesquisado.ibge }}</p>
      <p><strong>GIA:</strong> {{ cepPesquisado.gia }}</p>
      <p><strong>DDD:</strong> {{ cepPesquisado.ddd }}</p>
      <p><strong>SIAFI:</strong> {{ cepPesquisado.siafi }}</p>
    </mat-card-content>
  </mat-card>
  