
.endereco-card {    
    margin: 16px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
  }
  
  .conteudo-card {
    margin-top: 12px !important;
  }


    